### Edmonton Pet Licenses by Neighbourhood

https://data.edmonton.ca/Community-Services/Pet-Licenses-by-Neighbourhood/5squ-mg4w

This csv is a snapshot of current pets licensed of the last update of the dataset. If a license has not been renewed, the pet will not be in the database.

#### TODO:

- set up datetime inference

### Data Loading:

In [1]:
import pandas as pd

In [3]:
ls data

 Volume in drive C has no label.
 Volume Serial Number is 6C76-095F

 Directory of C:\Users\Peter\Documents\GitHub\edmonton-pets\data

2022-01-03  01:20 AM    <DIR>          .
2022-01-03  01:20 AM    <DIR>          ..
2022-01-03  01:19 AM        18,713,077 Pet__Licenses_by_Neighbourhood.csv
2022-01-03  01:20 AM        56,106,505 Pet_License_History_by_Neighbourhood.csv
               2 File(s)     74,819,582 bytes
               2 Dir(s)  659,578,077,184 bytes free

In [6]:
path = "data/Pet__Licenses_by_Neighbourhood.csv"

In [7]:
pet_df = pd.read_csv(path)

In [8]:
pet_df.head()

,YEAR,MONTH,MONTH_NUMBER,LICENSE_DATE,NEIGHBOURHOOD,NEIGHBOURHOOD_ID,PET_TYPE,BREED,GENDER,SPAYED_OR_NEUTERED,LATITUDE,LONGITUDE,LOCATION,COUNT,Point Location
0,2021,May,5,05/20/2021 12:00:00 AM,NaN,NaN,Dog,LABRADOR RETRIEVER,Female,Yes,NaN,NaN,NaN,1,NaN
1,2021,September,9,09/28/2021 12:00:00 AM,NaN,NaN,Dog,POODLE (MINIATURE),Male,No,NaN,NaN,NaN,1,NaN
2,2021,March,3,03/22/2021 12:00:00 AM,NaN,NaN,Dog,BOSTON TERRIER,Female,Yes,NaN,NaN,NaN,1,NaN
3,2020,December,12,12/19/2020 12:00:00 AM,Rapperswill,3370.0,Dog,LABRADOR RETRIEVER,Male,Yes,53.635589,-113.535030,"(53.635589013554885, -113.53502955798223)",1,POINT (-113.53502955798223 53.635589013554885)
4,2021,July,7,07/19/2021 12:00:00 AM,Wild Rose,6790.0,Dog,FRENCH BULLDOG,Female,Yes,53.470564,-113.381167,"(53.47056409015751, -113.3811672388747)",1,POINT (-113.3811672388747 53.47056409015751)

In [9]:
pet_df.dtypes

YEAR                    int64
MONTH                  object
MONTH_NUMBER            int64
LICENSE_DATE           object
NEIGHBOURHOOD          object
NEIGHBOURHOOD_ID      float64
PET_TYPE               object
BREED                  object
GENDER                 object
SPAYED_OR_NEUTERED     object
LATITUDE              float64
LONGITUDE             float64
LOCATION               object
COUNT                   int64
Point Location         object
dtype: object