In [1]:
import pandas as pd

In [2]:
ls data

 Volume in drive C has no label.
 Volume Serial Number is 6C76-095F

 Directory of C:\Users\Peter\Documents\GitHub\edmonton-pets\data

2022-01-03  01:20 AM    <DIR>          .
2022-01-03  01:20 AM    <DIR>          ..
2022-01-03  01:19 AM        18,713,077 Pet__Licenses_by_Neighbourhood.csv
2022-01-03  01:20 AM        56,106,505 Pet_License_History_by_Neighbourhood.csv
               2 File(s)     74,819,582 bytes
               2 Dir(s)  659,516,493,824 bytes free

In [5]:
path = "data/Pet_License_History_by_Neighbourhood.csv"

In [8]:
tpet_df = pd.read_csv(path)

In [9]:
tpet_df

,row_id,pet_id,animal_type,sex,spayed_or_neutered,transaction_date,transaction_outcome,current_license_status,neighbourhood_id,neighbourhood
0,D103136773000_01,D103136773000,Dog,Male,True,2013-01-22,License Issued,NaN,6360,King Edward Park
1,D103136773000_02,D103136773000,Dog,Male,True,2014-01-31,License Issued,NaN,6360,King Edward Park
2,D103136773000_03,D103136773000,Dog,Male,True,2015-01-27,License Issued,NaN,6360,King Edward Park
3,D103136773000_04,D103136773000,Dog,Male,True,2016-01-25,License Issued,NaN,6360,King Edward Park
4,D103136773000_05,D103136773000,Dog,Male,True,2017-01-26,License Issued,NaN,6360,King Edward Park
...,...,...,...,...,...,...,...,...,...,...
619928,C167987464300_01,C167987464300,Cat,Female,True,2021-08-26,License Issued,ISSUED,6720,Tawa
619929,C168182827500_01,C168182827500,Cat,Male,True,2021-08-31,License Issued,ISSUED,6720,Tawa
619930,C170302645900_01,C170302645900,Cat,Female,True,2021-10-24,License Issued,ISSUED,6720,Tawa
619931,C170589666300_01,C170589666300,Cat,Female,True,2021-10-31,License Issued,ISSUED,6720,Tawa
619932,C171624409300_01,C171624409300,Cat,Female,True,2021-11-25,License Issued,ISSUED,6720,Tawa

In [11]:
tpet_df.dtypes

row_id                    object
pet_id                    object
animal_type               object
sex                       object
spayed_or_neutered          bool
transaction_date          object
transaction_outcome       object
current_license_status    object
neighbourhood_id           int64
neighbourhood             object
dtype: object

In [14]:
tpet_df.current_license_status.value_counts()

ISSUED    84438
DELINQ    43212
RENEW      2907
NSF          45
EXPRED        1
ACCEPT        1
Name: current_license_status, dtype: int64